.App {
  margin-left: 2em;
}

.App-header{
  padding-left: 2em;
  border-style: white, dotted;
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.main {
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.note {
  font-family: 'Roboto', sans-serif;
}

.noteContainer {
  flex-direction: column;
  width: '200px';
  justify-content: left;
  font-family: 'Roboto', sans-serif;
}

.navbar-item {
  list-style-type: none;
  margin-right: .5em;
  padding: .5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  text-align: center;
  
}

.navbar-item:hover {
  cursor: pointer;
}

ul {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;  
}

.pos-right{
  position: right;
  justify-content: right;
}

