/* .App {
 
} */

.App-header{
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.note {
  font-family: 'Roboto', sans-serif;
}

.noteContainer {
  flex-direction: column;
  width: '200px';
  justify-content: left;
  font-family: 'Roboto', sans-serif;
}