.App {
  margin-left: 2em;
}

.App-header{
  padding-left: 2em;
  border-style: white, dotted;
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.main {
  /* padding-left: 2em; */
  padding-top: 2em;
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  
  /* outline for demarcation */
  outline-color: white;
  outline-style: solid;
  color: white;
}

.note {
  font-family: 'Roboto', sans-serif;
}

.noteContainer {
  flex-direction: column;
  width: '200px';
  justify-content: left;
  font-family: 'Roboto', sans-serif;
}

.navbar-item {
  list-style-type: none;
  margin-right: .5em;
  padding: .5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  text-align: center;
  
}

.navbar-item:hover {
  cursor: pointer;
}

ul {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;  
}

.first-column{
  margin-left: 2em;
  float: left;
  width: 30%;
}

.second-column {
  margin-right: 2em;
  float: left;
  
}

.first-column > p {
  text-align: center;
}
