.App {
  margin-left: 2em;
}

.App-header{
  padding-left: 2em;
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  color: white;
}

.main {
  padding-top: 2em;
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.note {
  font-family: 'Roboto', sans-serif;
}

.noteContainer {
  flex-direction: column;
  width: '200px';
  justify-content: left;
  font-family: 'Roboto', sans-serif;
}

.navbar-item, .selected-navbar-item {
  list-style-type: none;
  margin-right: .5em;
  padding: .5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  text-align: center;
}

.selected-navbar-item, .selected{
  color: #61dafb;
}

.navbar-item:hover {
  cursor: pointer;
}

ul {
  float: left;
  width: 100%;
}

li {
  display: inline;
}

.positioned {
  float: right;
  margin-right: 2em;
}

.first-column{
  margin-left: 2em;
  margin-right: 2em;
  float: left;
  width: 25%;
}

.second-column {
  margin-right: 2em;
  float: left;
  width: 60%;
  text-align: center;
  overflow-wrap: normal;
}

.first-column > p {
  text-align: center;
}

.container {
  border-style: solid;
  border-width: 1px;
  padding: 3em;
  align-items: center;
  overflow-wrap: break-word;
}

.title:hover {
  color: orange;
  cursor: pointer;
}

.controls {
  margin-left: 2em;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 2em;
}

.red {
  color: red;
}

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.selected, .title {
  padding: .5em;
  border-style: solid;
  border-width: 1px;
}

.form {
  border-style: solid;
  border-width: 1px;
  margin-top: 1em;
  padding: 1em;
}

.login-form{

}

.form-field {
  margin-right: 4em;
  margin-top: 1em; 
  width: 100%;
}