.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  border-style: white, dotted;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note {
  font-family: 'Roboto', sans-serif;
}

.noteContainer {
  flex-direction: column;
  width: '200px';
  justify-content: left;
  font-family: 'Roboto', sans-serif;
}

.userNotesIndex {
  width: '200px';
  flex-direction: column;
  background-color: green;
}

.formContainer {
  flex-direction: column;
}

.container {
  width: 100%
}

.left-column {
  flex-direction: left;
}

.middle-column {
  width: 33%
}

.right-column {
  flex-direction: column;
  justify-content: right;
  width: 20%
}

