.App {
  margin-left: 2em;
}

.App-header{
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.title, .selected {
  border-radius: 10px;
}

.main {
  padding-top: 2em;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar-item, .selected-navbar-item {
  list-style-type: none;
  margin-right: .5em;
  padding: .5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
}

.selected-navbar-item, .selected{
  color: #61dafb;
}

.navbar-item:hover, .selected-navbar-item:hover {
  cursor: pointer;
}

ul {
  float: left;
  width: 100%;
}

li {
  display: inline;
}

.positioned {
  float: right;
  margin-right: 2em;
}

.first-column{
  margin: 0 2em;
  float: left;
  width: 25%;
}

.second-column {
  margin-right: 2em;
  float: left;
  width: 60%;
  text-align: center;
  overflow-wrap: normal;
}

.first-column p {
  text-align: center;
}

.container {
  border: solid 1px;
  border-radius: 10px;
  padding: 3em;
  align-items: center;
  overflow-wrap: break-word;
  margin-bottom: 2em;
}

.title:hover, .navbar-item:hover {
  color: orange;
  cursor: pointer;
}

.controls {
  margin-left: 2em;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 2em;
}

.red {
  color: red;
}

.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.selected, .title {
  padding: .5em;
  border-style: solid;
  border-width: 1px;
}

.form {
  border-style: solid 1px;
  margin-top: 1em;
  padding: 1em;
}

.login-form {
  margin-top: 1em;
  margin-bottom: 3px;
  border: none;
  border-radius: 4px;
  width: 80%;
}

input {
  width: 30%;
  margin-right: 20em;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
}

.form-field {
  display: block;
  margin-right: 4em;
  margin-top: 1em; 
  text-align: center;
}

.dynamic-form {
  text-align: center;
  width: 400px;
  margin-top: 30px;
}

.delete-popup {
  visibility: hidden;
  z-index: 1;
}

.delete-popup .show {
  visibility: visible;
}

.form-span {
  display: block;
  margin-top: 1em;
  text-align: center;
}

.form-label {
  display: block;
}

.form-span-input {
  width: 90%;
  height: 35px;
  text-align: center;
  margin-top: 1em;
}

#show-task-form, #show-note-form, #show-form  {
  background: orange;
  color: white;
}

#textarea {
  height: 5em;
}

.form-button {
  margin-top: 2em;
  height: 35px;
}

.completed-task {
  display: inline-block;  
  text-decoration-line: line-through;
}